<%- include('./barralateral'); %>
 <br>
<table border="2px" class="center">
    <tr>
        <td>Nombre</td>
        <td>Apellido</td>
        <td>Numero de Horas</td>
        <td>Fecha Inicio</td>
        <td>Fecha Final</td>

    </tr>
    <% datosestudiante2.forEach(function(item4) { %> 
    <% datoscontrol2.forEach(function(item5) { %> 
          
        <tr>
            <td><%= item4.nombres %></td>
            <td><%= item4.apellidos %></td>
            <td><%= item5.numhoras %> </td>
            <td><%= item5.fechainicio%> </td>
            <td><%= item5.fechafinal%> </td>
        </tr>
        <% }); %> 
        <% }); %> 
</table>
<br>
<br>
<div class="center2">
<a href="./registrarhoras2" class="btn" class="center">Registrar</a>
</div>