{{#each estudiantes}}
<div class="card text-center">

<table class="default">

  <tr>

    <th>Nombres</th>
    <th>Apellidos</th>
    <th>Telefono</th>
    <th>Carrera</th>
    <th>Facultad</th>
    <th>Estado</th>

  </tr>

  <tr>

    <td>{{nombres}}</td>
    <td>{{apellidos}}</td>
    <td>{{telefono}}</td>
    <td>{{carrera}}</td>
    <td>{{facultad}}</td>
    <td>{{estado}}</td>
    <td><a href="" class="btn btn-danger">Eliminar</a></td>
    <td><a href="" class="btn btn-secondary">Editar</a></td>
  </tr>

 

</table>

</div>  
{{/each}}